nav {
    background-color: #ebf6fa;
    font-family: 'Helvetica';
    margin: 5px;
}

nav a{
    text-decoration: none;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    padding-left: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.logo {
    width: 95px;
    margin: 1px;
    float: left;
}

.beach {
    width: 700px;
}

.main-title {
    text-align: center;
    font-size: 40px;
    font-family: Helvetica;
}

.intro {
    display: flex;
}

h1 {
    font-family: 'Franklin Gothic Medium';
    text-align: left;
    font-size: 25px;
    color: #80adbc;
}


h2 {
    font-family: Helvetica;
    font-size: 14px;
    color: #b0b0b2;
}

body {
background-color: #ffffff;
margin-bottom: 200px;
}

p {
    line-height: 10mm;
    font-family: Helvetica;
    margin-top: 0px;
    margin-left: 400px;
    margin-right: 400px;
    font-size: 20px;
}

a {
    text-align: center;
}
