body {
    margin: 0px;
    background-color: #ffffff;
}

header {
    color: #80adbc;
}

h1 {
    font-family: 'Times New Roman';
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    color: #ffffff;
    background-color: #80adbc;
}

nav {
    border-style: solid;
    border-color: #dadadc;
    border-width: 0.5px;
    background-color: #ffffff;
    font-family: Arial;
    text-align: right;
}

.logo {
    width: 115px;
    margin-left: 250px;
    float: left;
}

nav ul {
    list-style: none;
}

nav a {
    text-decoration: none;
} 

nav li {
    display: inline-block;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

h2 {
    font-family: Arial;
    font-size: 12px;
    font-weight: 900px;
    color: #3e3e3e;
}

h3 {
    color: #306e83;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman';
    margin-top: 40px;
}

.main-title {
    font-family: Arial;
    font-size: 25px;
    font-weight: bolder;
    color: #3e3e3e;
    text-align: left;
    margin-left: 400px;
    margin-top: 40px;
}

p {
    color: #3e3e3e;
    line-height: 10mm;
    font-family: Arial;
    margin-left: 400px;
    margin-right: 400px;
    font-size: 20px;
    margin-top: 40px;
}
  
.activity {
   font-family: 'Times New Roman';
   font-size: 25px;
   font-weight: bolder;
   color: #3e3e3e;
   text-align: center;
   margin-left: 400px;
   margin-top: 40px;
}
  
.activity-title {
   margin-top: 40px;
   font-family: Arial;
   font-size: 25px;
   font-weight: bolder;
   color: #306e83;
   text-align: left;
   margin-left: 400px;
}
  
.activity-desc {
    color: #3e3e3e;
    line-height: 10mm;
    font-family: 'Arial';
    margin-left: 400px;
    margin-right: 400px;
    font-size: 20px;
    margin-top: 40px;
}
  
.activity-what {
   font-family: 'Times New Roman';
   font-size: 25px;
   font-weight: bolder;
   color: #80adbc;
   font-style: italic;
   text-align: center;
   margin-top: 40px;
}
  
.activity-expect {
    color: #3e3e3e;
    line-height: 10mm;
    font-family: 'Arial';
    margin-left: 400px;
    margin-right: 400px;
    font-size: 20px;
    font-style: italic;
    margin-top: 40px;
}

.image {
   width: 750px;
   margin-left: 385px;
}

main nav {
    border-style: solid;
    border-color: #dadadc;
    border-width: 0.5px;
    background-color: #80adbc;
    font-family: Arial;
    text-align: center;
}

main nav ul {
    list-style: none;
}

main nav a {
    text-decoration: none;
}

main nav li {
    display: inline-block;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h6 {
    font-family: Arial;
    font-size: 12px;
    font-weight: 900px;
    color: #ffffff;
}

.image {
    width: 750px;
    margin-left: 385px;
}