body {
    margin: 0px;
    background-color: #ffffff;
    }
 
header {
    color: #80adbc;
}
 
h1 {
    font-family: 'Times New Roman';
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    color: #ffffff;
    background-color: #80adbc;
}
 
nav {
    border-style: solid;
    border-color: #dadadc;
    border-width: 0.5px;
    background-color: #ffffff;
    font-family: Arial;
    text-align: right;
}
 
.logo {
    width: 115px;
    margin-left: 250px;
    float: left;
}
 
nav ul {
    list-style: none;
}
 
nav a {
    text-decoration: none;
}
 
nav li {
    display: inline-block;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}
 
h2 {
    font-family: Arial;
    font-size: 12px;
    font-weight: 900px;
    color: #3e3e3e;
}
 
h3 {
    color: #80adbc;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman';
    margin-top: 40px;
}
 
.parag20 {
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
    color: #3e3e3e;
    text-align: left;
    margin-left: 400px;
    margin-top: 40px;
}

.siargao {
    width: 750px;
    margin-left: 385px;
    margin-top: 10px;
}
 
p {
    color: #3e3e3e;
    line-height: 10mm;
    font-family: Arial;
    margin-left: 400px;
    margin-right: 400px;
    font-size: 20px;
    margin-bottom: 10mm;
}
 
.parag18 {
    margin-top: 40px;
    font-family: Arial;
    font-size: 25px;
    font-weight: bolder;
    color: #80adbc;
    text-align: center;
    margin-bottom: 0px;
}

.surfing {
    width: 750px;
    margin-left: 385px;
    margin-top: 40px;
}

.parag17 {
    font-family: Arial;
    font-size: 25px;
    font-weight: bolder;
    color: #80adbc;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
}

.diving {
    width: 750px;
    margin-left: 385px;
    margin-top: 40px;
}

.parag19 {
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
    color: #3e3e3e;
    text-align: left;
    margin-left: 400px;
    margin-top: 40px;
}

.eden {
    width: 750px;
    margin-left: 385px;
    margin-top: 10px;
}

.parag21 {
    margin-top: 40px;
    font-family: Arial;
    font-size: 25px;
    font-weight: bolder;
    color: #80adbc;
    text-align: center;
    margin-bottom: 0px;
}

.Eden-Nature-Park-Davao-City {
    width: 750px;
    margin-left: 385px;
    margin-top: 40px;
}

.park {
    width: 750px;
    margin-left: 385px;
    margin-top: 40px;
}

.parag22 {
    margin-top: 40px;
    font-family: Arial;
    font-size: 25px;
    font-weight: bolder;
    color: #80adbc;
    text-align: center;
    margin-bottom: 0px;
}

.parag23 {
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
    color: #3e3e3e;
    text-align: left;
    margin-left: 400px;
    margin-top: 40px;
}

.Malagos {
    width: 750px;
    margin-left: 385px;
    margin-top: 10px;
}

.tree {
    width: 750px;
    margin-left: 385px;
    margin-top: 40px;
}

.bird {
    width: 750px;
    margin-left: 385px;
    margin-top: 40px;
}

.parag24 {
    margin-top: 40px;
    font-family: Arial;
    font-size: 25px;
    font-weight: bolder;
    color: #80adbc;
    text-align: center;
    margin-bottom: 0px;
}

.parag25 {
    margin-top: 40px;
    font-family: Arial;
    font-size: 25px;
    font-weight: bolder;
    color: #80adbc;
    text-align: center;
    margin-bottom: 0px;
}

main nav {
    border-style: solid;
    border-color: #dadadc;
    border-width: 0.5px;
    background-color: #80adbc;
    font-family: Arial;
    text-align: center;
}
 
main nav ul {
    list-style: none;
}
 
main nav a {
    text-decoration: none;
}
 
main nav li {
    display: inline-block;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
 
h6 {
    font-family: Arial;
    font-size: 12px;
    font-weight: 900px;
    color: #ffffff;
}
